{% extends 'base.html' %}

{% block title %}Toilter{% endblock %}

{% block content %}
<header>

    <div class="header-text">
      <h1>John Doe</h1>
      <h2>Front-end Developer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac purus leo. Donec commodo bibendum orci, ac vehicula elit molestie in. Aliquam bibendum tristique enim, sit amet sagittis odio efficitur ac. Morbi iaculis nec leo euismod bibendum.</p>
    </div>
  </div>
</header>
	<p>This is a simple Bootstrap page.</</div>
{% endblock %}


