


<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="https://dev.dakidarts.com/wixa/assets/img/favicon.png" type="image/x-icon">

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="https://dev.dakidarts.com/wixa/assets/css/swiper-bundle.min.css">


    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="https://dev.dakidarts.com/wixa/assets/css/styles.css">

    <!--==================== MAIN JS ====================-->


    <!--==================== SWIPER JS ====================-->


    <title>{% block title %}{% endblock %} -Vishal Responsive Portfolio</title>
    {% endblock %}
</head>



    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav_logo">Profile</a>
            <div class="nav_menu" id="nav-menu">
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="#home" class="nav_link active-link">
                            <i class="uil uil-estate nav_icon"></i> Home
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#about" class="nav_link">
                            <i class="uil uil-user nav_icon"></i> About
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#skills" class="nav_link">
                            <i class="uil uil-heart nav_icon"></i> Skills
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#qualification" class="nav_link">
                            <i class="uil uil-suitcase-alt nav_icon"></i> Qualification
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#services" class="nav_link">
                            <i class="uil uil-scenery nav_icon"></i> Services

                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="#contact" class="nav_link">
                            <i class="uil uil-location-arrow nav_icon"></i> Contact Me
                        </a>
                    </li>
                </ul>
                <i class="uil uil-multiply nav_close" id="nav-close"></i>
            </div>
            <div class="nav_btns">
                <i class="uil uil-moon change-theme" id="theme-button"></i>
                <div class="nav_toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
        {% endblock %}








    </header>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
        {% block footer %}









        <!--==================== CONTACT ME ====================-->
        <section class="contact section " id="contact">
            <h2 class="section_title">Contact Me</h2>
            <span class="section_subtitle">Get in touch</span>

            <div class="contact_container container grid">
                <div>
                    <div class="contact_info">
                        <i class="uil uil-phone contact_icon"></i>
                        <div>
                            <h3 class="contact_title">Call Me</h3>
                            <span class="contact_subtitle">+1 541-908-0576</span>
                        </div>
                    </div>
                    <div class="contact_info">
                        <i class="uil uil-envelope contact_icon"></i>
                        <div>
                            <h3 class="contact_title">Email</h3>
                            <span class="contact_subtitle">vishalkurre28@gmail.com</span>
                        </div>
                    </div>
                    <div class="contact_info">
                        <i class="uil uil-map-marker contact_icon"></i>
                        <div>
                            <h3 class="contact_title">Location</h3>
                            <span class="contact_subtitle">331 SW E AVE Unit-205, CORVALLIS, OR, 97333</span>
                        </div>
                    </div>
                </div>



                <form action="/" method="POST">
                    <div class="contact_inputs grid">
                        <div class="contact_content">
                            <label for="" class="contact_label">
                                Name
                            </label>
                            <input name="name" type="text" class="contact_input">

                        </div>
                        <div class="contact_content">
                            <label for="" class="contact_label">
                                Email
                            </label>
                            <input name="email" type="email" class="contact_input">
                        </div>

                    </div>
                    <div class="contact_content">
                        <label for="" class="contact_label">
                            Project
                        </label>
                        <input name="project" type="text" class="contact_input">
                    </div>
                    <div class="contact_content">
                        <label for="" class="contact_label">
                            Message
                        </label>
                        <textarea name="message" id="" cols="0" rows="7" class="contact_input"></textarea>
                    </div>
                    <div>

                             <button type="submit" >
                                  <a  class="button button--flex">Send Message
                                      <i class="uil uil-message button_icon"></i>
                                  </a>
                             </button>


                     </div>
                     </form>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer ">
        <div class="footer_bg">
            <div class="footer_container container grid">
                <div>
                    <h1 class="footer_title">Vishal Kurre</h1>
                    <span class="footer_subtitle">Web Developer</span>
                </div>
                <ul class="footer_links">
                    <li>
                       <a href="#services" class="footer_link">Services</a>
                    </li>
                    <li>
                       <a href="#portfolio" class="footer_link">Portfolio</a>
                    </li>
                    <li>
                       <a href="#contact" class="footer_link">Contact</a>
                    </li>
                </ul>
                <div class="footer_socials">
                    <a href="https://www.facebook.com/" target="_blank" class="footer_social">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="footer_social">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="https://twitter.com/
                    " target="_blank" class="footer_social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>


                                                      <p class="footer_copy">&#169; 2022 <a class="footerd" href="#">This CSS is designed by.</a> <a class="footerd" href="https://dakidarts.com/"> Dakidarts.</a></p>
        </div>

    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup_icon"></i>
    </a>



    <script src="https://dev.dakidarts.com/wixa/assets/js/swiper-bundle.min.js"></script>
    <script src="https://dev.dakidarts.com/wixa/assets/js/main.js"></script>







             </div>
  </body>
</html>
